@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1cb5b1;
  --color-bg-light: #f2f4f5;
  --color-gray-mid: #80898f;
  --color-text-dark: #2b2f33;
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text-dark);
  background-color: #ffffff;
}
